@page
@using RainDropWeb.Locale
@model RainDropWeb.Pages.Supply

@{
    Layout = "Shared/Wrapper";
}


<div class="mdui-container mdui-row">
    <div class="mdui-col-offset-xs-3 mdui-col-xs-6 mdui-col-offset-md-1 mdui-col-md-4" style="padding-top: 60px">
        <div class="mdui-row" style="display: flex">
            <div class="mdui-col-xs-10">
                <h1 class="mdui-typo-title">@Localization.Localize("supply-positive-channel")</h1>
            </div>
            <div class="mdui-col-xs-2" style="align-self: center">
                <label class="mdui-switch">
                    <input class="mdui-switch" id="supply-pos-enable" type="checkbox"/>
                    <i class="mdui-switch-icon"></i>
                </label>
            </div>
        </div>

        <div class="mdui-col-xs-12">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label" for="supply-pos-voltage">@Localization.Localize("supply-output-voltage")</label>
                <input class="mdui-textfield-input" id="supply-pos-voltage" type="text"/>
            </div>
        </div>
    </div>

    <div class="mdui-col-offset-xs-3 mdui-col-xs-6 mdui-col-offset-md-2 mdui-col-md-4" style="padding-top: 60px">
        <div class="mdui-row" style="display: flex">
            <div class="mdui-col-xs-10">
                <h1 class="mdui-typo-title">@Localization.Localize("supply-negative-channel")</h1>
            </div>
            <div class="mdui-col-xs-2" style="align-self: center">
                <label class="mdui-switch">
                    <input class="mdui-switch" id="supply-neg-enable" type="checkbox"/>
                    <i class="mdui-switch-icon"></i>
                </label>
            </div>
        </div>

        <div class="mdui-col-xs-12">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label" for="supply-neg-voltage">@Localization.Localize("supply-output-voltage")</label>
                <input class="mdui-textfield-input" id="supply-neg-voltage" type="text"/>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#supply-pos-voltage, #supply-pos-enable, #supply-neg-voltage, #supply-neg-enable").change(function (e) {
            const isNeg = e.currentTarget.id.search("neg") !== -1;
            const voltage = isNeg ? $("#supply-neg-voltage") : $("#supply-pos-voltage");
            const value = EngineeringValue.From(voltage.val().trim().replace(/v$/i, ""));

            if (isNaN(value)) {
                mdui.snackbar({
                    message: `@Localization.Localize("supply-msg-invalid-value")`,
                    position: "right-top"
                });
                return;
            }
            if (Math.abs(value) > 5) {
                mdui.snackbar({
                    message: `@Localization.Localize("supply-msg-too-high-vol")`.replace("{value}", EngineeringValue.To(value)),
                    position: "right-top"
                });
                return;
            }
            if ((isNeg ? -1 : 1) * value < 0) {
                mdui.snackbar({
                    message: `@Localization.Localize("supply-msg-false-pos-neg-set")`.replace("{value}", EngineeringValue.To(value))
                        .replace("{pos-neg}", (isNeg ? `@Localization.Localize("supply-negative")` : `@Localization.Localize("supply-positive")`)),
                    position: "right-top"
                });
                return;
            }

            voltage.val(EngineeringValue.To(value));
            $.ajax({
                url: `/api/Supply`,
                type: "POST",
                data: {
                    isNegativeChannel: isNeg,
                    voltage: value,
                    enabled: $((isNeg ? "#supply-neg-enable" : "#supply-pos-enable")).prop("checked")
                },
                success: function (data) {
                    if (data.success !== true) {
                        mdui.snackbar({
                            message: `@Localization.Localize("supply-msg-change-vol-fail")`.replace("{error}", data.error),
                            position: "right-top"
                        })
                    }
                }
            });
        })
    </script>
</div>

<script type="text/javascript">
    // Retrieve initial state
    $.ajax({
        method: "GET",
        url: "/Api/Current",
        success: function (data) {
            if (data.success !== true || data.data.name === "") {
                mdui.alert(`@Localization.Localize("site-msg-failed-to-retrieve-status")`);
                return;
            }

            const supply = data.data.supply;
            $("#supply-pos-enable").val(supply.positive.enabled);
            $("#supply-pos-voltage").val(EngineeringValue.To(supply.positive.voltage));
            $("#supply-neg-enable").val(supply.negative.enabled);
            $("#supply-neg-voltage").val(EngineeringValue.To(supply.negative.voltage));
        }
    })
</script>